<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <div>
        <input
          class="new-todo"
          placeholder="Type new todo"
          autofocus
          type="text"
          [formControl]="newTaskCtrl"
          (keydown.enter)="changeHandler()"
        />
        <button (click)="changeHandler()">Add task</button>
      </div>
    </div>
  </header>

  @if (tasks().length > 0) {
  <div class="container todoapp-wrapper">
    <section class="main">
      <ul class="todo-list">
        @for (task of tasksByFilter(); track task.id; let i = $index) {
        <li
          (dblclick)="updateTaskEditingMode(i)"
          [class.completed]="task.completed"
          [class.editing]="task.editing"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              [checked]="task.completed"
              (change)="updateTask(i)"
            />
            <label>{{ task.title }} </label>
            <button class="destroy" (click)="deleteTask(i)"></button>
          </div>
          <input
            class="edit"
            [value]="task.title"
            (keydown.enter)="updateTaskText(i, $event)"
          />
        </li>
        }
        <!-- <li class="completed">
          <div class="view">
            <input class="toggle" type="checkbox" checked />
            <label>Learn JavaScript</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Learn JavaScript" />
        </li>
        <li>
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Buy a unicorn</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Buy a unicorn" />
        </li>
        <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Make dishes</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Make dishes" />
        </li> -->
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count">
        <strong>{{ tasksByFilter().length }} </strong>
        @switch (tasksByFilter().length) { @case (1) {
        <span>item</span>
        } @default {
        <span>items</span>
        } }
      </span>
      <!-- Remove this if you don't implement routing -->
      <!-- TODO: check routing issue and implement this using an iteration over an array-->
      <ul class="filters">
        <li>
          <a
            routerLink="/"
            [class.selected]="filter() === 'All'"
            (click)="changeFilter(filters.All)"
            >All</a
          >
        </li>
        <li>
          <a
            routerLink="/pending"
            [class.selected]="filter() === 'Pending'"
            (click)="changeFilter(filters.Pending)"
            >Pending</a
          >
        </li>
        <li>
          <a
            routerLink="/completed"
            [class.selected]="filter() === 'Completed'"
            (click)="changeFilter(filters.Completed)"
            >Completed</a
          >
        </li>
      </ul>
      @if (amountTaskCompleted() > 0) {
      <button class="clear-completed">Clear completed</button>
      }
    </footer>
  </div>
  }
</section>
